.box{
    width: 100px;
    height: 100px;
    width: 1px solid;
    font-size: 20px;
    text-align: center;
    border: 5px solid;
    background-color: green;
    float: center;
}
p{
clear: both;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}