body{
    background-image: url("park.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover
}
h1{
    background: linear-gradient(to right,red,green)
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background: linear-gradient(to right,yellow,pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}