#box1{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;
 display: grid;
   place-content: center;
   position: sticky;
   top: 10px;
   
}
#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

    /* position: absolute; */
 /* transform: translate(-50%,-50%);
top: 50%;
left: 50%; */
    /* top: 100px;
    left: 0px; */

}